* {
    box-sizing: border-box;
    }
    .container {
    width: 1170px;
    margin: 0 auto;
    }
    .row:after {
    content: "";
    clear: both;
    display: block;
    }
    .clearfix {
    overflow: hidden;
    }
    [class*="col-"]{
    float: left;
    }
    .col-md-12 {
    width: 100%;
    }
    .col-md-3{
    width: 30%;
    }
    .col-md-9  {
    width: 70%;
    }
    .col-md-8 {
    width: 54%;
    }
    .col-md-4 {
    width: 46%;
    }
    .col-md-2 {
    width: 20%;
    }
    .header {
    padding-top: 10px;
    }
    .icon {
    padding-top: 15px;
    font-size: 20px;
    }
    .icon-drawic {
    padding-left:310px;
    }
    .logo {
    position: relative;
    padding-top: 10px;
    margin:15px;
    font-size: 20px;
    }
    hr {
    height: 5px; 
    color:  #1E90FF;
    background-color:  #1E90FF;
    }
   .title {
    color:  #1E90FF;
    font-size: 50px;     
    }
    .main-news {
    display: block;
    float: left;
    }   
    .main-photo{
    position: relative;
    }
    .main-description {
    position: absolute;
    color: white;
    background-color: rgba(255,255,255,0.25);
    font-family: bold;
    font-size:25px;
    top: 280px;
    left: 10px;
    }
    .main-time {
    position: absolute;
    color: white;
    font-size:15px;
    top: 320px;
    left: 10px;
    }
    .news-description {
    color:black;
    float: left; 
    padding: 5px;
    margin-right: 5px; /* Отступ справа */
    width: 50%; /* Ширина блока */
    font-size:17px;
    font-weight: bold;
    }
    .news-description a {
    text-decoration: none;
    color: black;
    list-style: none;
    }
    .actualy-news {
    border-bottom: 1px solid grey;
    }
    .photo-news {
    text-align: right;
    }
    .actialy-time{
    font-size: 15px;
    font-weight: normal;
    }
    .news-partner {
    padding-top: 15px;
    margin: 10px; 
    width: 80%; 
    font-size:12px;
    }
    .img-partner {
    display: block;
    float: left;
    }
    .partner-description {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
    text-align: center;
    }
    .partner2 {
    padding-top: 40px;
    }
    .partner3 {
    padding-top: 40px;
    }
    .partner4 {
     padding-top: 70px;
    }
    .submit {
    font-size: 17px;
    color: white;
    background-color:  #1E90FF;
    width: 400px;
    height: 30px;
    text-align: center;
    margin-left: 110px;
    margin-top: 20px;
    padding-top: 3px;
    margin-bottom: 60px;
    }
    .smi-description {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    }
    .more-news {
    position: absolute;
    padding-top: 1500px;
    }
    .footer-description {
    text-align: left;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top:10px; 
    border-left: 1px solid black;
    padding-left: 10px;
    }
   .footer-border {
    border-top: 1px solid black;
    padding-top: 40px;
   }
  .footer-date-createsite{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 60px;
  } 